<html>
    <head>
     <title>CRUD de Clientes</title>
     <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
     <h1><%= title %></h1>
  
     <form action="/inserir" method="POST">
     <p>
     <label>Ip da conexão: <input type="text" name="ip" /></label>
     </p>
    

     <p>
     <a href="/">Cancelar</a> | <input type="submit" value="Salvar" />
     </p>
     </form>
    </body>
    </html>